.service {
  /* position: relative; */
  background-image: url("../../assets/img/service-bg.png");
  background-size: cover;
  padding: 140px 0;
  background-position: center;
}
.service img {
  width: 100%;
  height: auto;
}
.service .service-content {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service .service-content .top-content {
  max-width: 768px;
}
.service .service-content .top-content div {
  font-size: 36px;
  line-height: 9px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.service .service-content .top-content span {
  line-height: 29px;
  display: inline-block;
  color: #181818;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
.service .service-block {
  display: flex;
  width: 100%;
  padding: 0 100px;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* left-block */
.service .service-block .left-block {
  /* width: 50%; */
  background-color: #f7fbf9;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  left: 0;
  z-index: 2;
  margin-left: 110px;
}
.service .service-block .left-block .block-item {
  display: flex;
  flex-direction: column;
  background-color: #f7fbf9;
  border: 1px solid #b8b8b8;
  padding: 15px;
  margin: 15px;
}
.service .service-block .left-block .block-item .block-img {
  border: 1px dashed var(--main-green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  margin-bottom: 8px;
}
.service .service-block .left-block .block-item span {
  display: inline-block;
  margin: auto;
  text-transform: uppercase;
  color: #121314;
  font-weight: 600;
  transition: 0.3s all;
  line-height: 35px;
}
.service .service-block .left-block .block-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}
.service .service-block .left-block .block-item img:nth-child(1) {
  opacity: 1;
}
.service .service-block .left-block .block-item img:nth-child(2) {
  opacity: 0;
}
.service .service-block .left-block .block-item.active,
.service .service-block .left-block .block-item:hover {
  background-color: var(--main-green);
  border-color: var(--main-green);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition: 0.3s all;
}
.service .service-block .left-block .block-item.active .block-img,
.service .service-block .left-block .block-item:hover .block-img {
  border-color: white;
}
.service .service-block .left-block .block-item.active span,
.service .service-block .left-block .block-item:hover span {
  color: white;
}
.service .service-block .left-block .block-item.active img:nth-child(1),
.service .service-block .left-block .block-item:hover img:nth-child(1) {
  opacity: 0;
}
.service .service-block .left-block .block-item.active img:nth-child(2),
.service .service-block .left-block .block-item:hover img:nth-child(2) {
  opacity: 1;
}
/* right-block */
.service .service-block .right-block {
  border: 1px dashed var(--main-green);
  margin-left: auto;
  padding: 20px 0;
}
.service-detail {
  display: flex;
  margin: 20px 0;
}
.service .service-block .right-block .right-block-wrapper {
  width: calc(100% / 7 * 6);
  margin-left: auto;
  padding: 20px;
}
.service .service-block .right-block .right-block-wrapper p {
  font-size: 20px;
  line-height: 35px;
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 30px;
}
.service .service-block .right-block .right-block-wrapper span,
.service-detail span {
  font-size: 15px;
  line-height: 24px;
  color: #383838;
  font-weight: 400;
}
.service .service-block .right-block .right-block-wrapper .read-more {
  font-size: 15px;
  line-height: 24px;
  color: #383838;
  text-decoration: underline;
  text-decoration-color: var(--main-green);
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
@media(max-width: 1199px){
  .service .service-block{
    padding: 0 80px;
  }
  .service .service-block .container-fluid {
    flex-direction: column;
  }
  .service .service-block .left-block {
    position: static;
    margin: 20px 0;
  }
  .service .right-block .right-block-wrapper {
    width: 100% !important;
    padding: 0 40px !important;
  }
}
@media(max-width: 1024px){
  .service .service-content .top-content {
    padding: 0 80px;
  }
  .service {
    padding: 100px 0;
  }
}
@media(max-width: 991px){
  .service .service-block{
    padding: 0 40px;
  }
  .service .service-block .left-block {
    position: static;
    margin: 20px 0;
  }
  .service .right-block .right-block-wrapper {
    width: 100% !important;
    padding: 0 40px !important;
  }
  .service .service-content .top-content div {
    font-size: 24px;
  }
  .service .service-content .top-content{
    padding: 0 40px;
  }
  .service .service-content .top-content span {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .service .right-block .right-block-wrapper img {
    display: none;
  }
  .service .service-block .left-block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }
  .service .service-block .left-block .block-item {
    margin: 10px;
  }
  .service .service-block .left-block .block-item .block-img {
    width: 80px;
    height: 80px;
  }
  .service .service-block .left-block .block-item span {
    font-size: 14px;
  }
  .service {
    padding: 80px 0;
  }
}
@media(max-width: 480px){
  .service .service-block .right-block {
    display: none;
  }
  .service .service-content .top-content div {
    font-size: 20px;
  }
  .service .service-content .top-content span {
    font-size: 12px;
    line-height: 22px;
  }
  .service-content .top-content,
  .service-block {
    padding: 0 20px !important;
  }
  .service-block .left-block .block-item span{
    font-size: 12px!important;
  }
  .service-block .left-block .block-img{
    width: 60px!important;
    height: 60px!important;
  }
  .service-block .left-block .block-img img{
    width: 30px!important;
    height: 30px!important;
  }
}