.news {
  background-image: url("../../assets/img/NEWS-BG.png");
  padding: 60px 100px 100px;
  margin-top: -80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news .news-container .news-item p,
.news p {
  margin-bottom: 0;
}
.news > p {
  margin-top: 20px;
  margin-bottom: 65px;
}
.news .news-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}
.news .news-container .news-item .news-content,
.news .news-slide-container .carousel.slide .news-item .news-content {
  transform: translateY(-15%);
}
.news .news-container .news-item .news-img,
.news .news-slide-container .carousel.slide .news-item .news-img {
  max-height: 260px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news-container .news-item .news-img img,
.news .news-slide-container .carousel.slide .news-item .news-img img {
  width: 100%;
  height: auto;
}
.news .news-container .news-item p,
.news .news-slide-container .carousel.slide .news-item p,
.news .news-container .news-item a,
.news .news-slide-container .carousel.slide .news-item a {
  color: #282828;
  padding: 0 30px;
  transition: 0.3s;
}
.news .news-container .news-item a,
.news .news-slide-container .carousel.slide .news-item a {
  display: inline-block;
  text-align: center;
  padding: 12px 0;
  border-top: 1px dashed #c1c1c1;
  font-size: 12px;
  width: 100%;
}
.news .news-container .news-item .news-content,
.news .news-slide-container .carousel.slide .news-item .news-content {
  background-color: white;
  width: 90%;
  margin: auto;
  transition: 0.3s;
}
.news .news-container .news-item p:nth-child(1),
.news .news-slide-container .carousel.slide .news-item p:nth-child(1) {
  font-size: 12px;
  margin: 20px 0;
}
.news .news-container .news-item p:nth-child(2),
.news .news-slide-container .carousel.slide .news-item p:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
}
.news .news-container .news-item p:nth-child(3),
.news .news-slide-container .carousel.slide .news-item p:nth-child(3) {
  font-size: 13px;
  color: #282828;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news .news-container .news-item:hover .news-content,
.news .news-container .news-item:hover a {
  background-color: var(--main-green);
  color: white;
}
.news .news-container .news-item:hover .news-content p {
  color: white;
}
.news-slide-container {
  padding: 0 80px;
  width: 100%;
}
.news-slide-container .carousel.slide {
  display: none;
  width: 100%;
}
.news-title {
  padding: 0 20px !important;
}
@media(max-width: 1199px){
  .news .news-container {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    padding: 0 80px;
  }
  .news {
    padding: 40px 0 80px;
    margin-top: -120px;
  }
  .news-slide-container .carousel.slide {
    display: flex;
  }
  .news-container {
    display: none !important;
  }
  .news .news-vertical-2 {
    margin-top: 50px;
  }
}
@media(max-width: 1024px){
  .news {
    padding: 90px 0;
  }
  .news .news-container .news-item .news-img {
    height: auto;
  }
  .news > p {
    margin-bottom: 40px;
  }
  .carousel-indicators li,
  .carousel-indicators li:not(.active) {
    width: 10px !important;
    height: 10px !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .customer {
    padding-top: 20px;
    padding-bottom: 120px;
  }
  .news-slide-container .carousel.slide .news-item .news-img {
    display: none!important;
  }
  .news-slide-container {
    padding: 0 40px;
  }
}
@media(max-width: 768px){
  .news {
    padding: 60px 0;
  }
}
@media(max-width: 480px){
  .customer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .customer .carousel .carousel-item .slide-item .slide-caption p {
    font-size: 12px;
  }
  .customer {
    padding: 20px;
  }
  .customer > p {
    margin: 10px 0 50px 0;
  }
  .customer .carousel .carousel-item .slide-item {
    padding: 60px 10px 20px 10px;
  }
  .customer .carousel .carousel-item .slide-item .slide-img {
    width: 80px;
    height: 80px;
  }
  .customer {
    padding-bottom: 100px;
  }
  .news-container,
  .news-slide-container {
    padding: 0 20px !important;
  }

  .news-slide-container .carousel.slide .news-item p:nth-child(1) {
    font-size: 12px;
    margin: 20px;
  }
  .news-slide-container .carousel.slide .news-item p:nth-child(2) {
    font-size: 14px;
  }
  .news-slide-container .carousel.slide .news-item p:nth-child(3) {
    font-size: 12px;
    margin: 10px 0 15px 0;
  }
}